/* .main-content {
    padding: 10px;
    border: 2px solid tan;
    border-radius: 10px;
    width: 500px;
}

.brand {
    margin-bottom: 5px;
}

.title {
    margin-bottom: 10px;
}

.description-short {
    margin-bottom: 10px;
}

.description-full {
    margin-bottom: 10px;
}

.price {
    margin-bottom: 10px;
}

.cartButton {
    border: 1px solid teal;
    padding: 5px;
} */
